h1 {
  text-align: center;
}
.form-row {
  display: flex;
  margin-bottom: 20px;
}

.form-row-sec {
  margin-left: 7%;
}
.textarea-row-sec {
  margin-left: 12%;
  min-width: 100%;
}
.form-title {
  font-size: 1.5em;
  text-align: center;
  font-weight: 500;
  text-decoration: underline;
}

.general-sec,
.education-sec {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.general-form,
.education-form {
  position: relative;
  right: 15%;
}

input {
  display: block;
  font-size: 1.2em;
}
label {
  text-align: left;
  font-size: 1.2em;
}
.date-input {
  display: block;
  font-size: 1.6em;
}

.btn-section {
  margin-top: 5%;
  text-align: center;
  position: relative;
  left: 15%;
  margin-bottom: 5%;
}
#gen-submit-btn {
  padding: 2%;
  font-size: 15px;
  width: 30%;
  position: relative;
}
#edu-submit-btn,
#edu-delete-btn {
  padding: 2%;
  font-size: 15px;
  width: 30%;
  position: relative;
}

#edu-delete-btn {
  margin-left: 6%;
}

.result {
  display: none;
}

.result-col {
  display: flex;
  position: relative;
  justify-content: space-between;
  font-size: large;
  margin-bottom: 5%;
}

.result-title {
  font-weight: bold;
}

.container {
  border: 1px solid black;
  min-height: 100vh;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

#add-btn {
  padding: 1%;
  font-size: 15px;
  width: 25%;
  position: relative;
  left: 37%;
  margin-bottom: 5%;
}

.date-error {
  color: red;
  margin-left: 35%;
}

@media only screen and (max-width: 700px) {
  .container {
    width: 90%;
  }
  .form-row {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  .form-row-sec {
    margin-left: 0%;
    margin-right: 0%;
  }
  .textarea-row-sec {
    width: 130%;
    margin-left: 1%;
  }
  input {
    width: 130%;
  }
  .date-error {
    margin-left: 25%;
    width: 100%;
  }
}
